body {
    color: #434343;
    background: #DAE3E7;
    font-size: 16px;
  }

a {
    color: #3AAA64;
  }

.header {
    padding: 30px 0;
    background: #f5f5f5;
    border-top: 10px solid #778492;
  }
  
  .header .btn {
    margin-top: 60px;
    font-weight: bold;
  }
  
  .header .profile-image {
    margin-right: 30px;
    height: 180px;
  }

  .btn, a.btn {
    padding: 8px 16px;
    font-weight: bold;
    margin: 5px;
  }
  
  .btn:focus, a.btn:focus {
    color: #fff;
    box-shadow: none;
  }
  
 a.btn-primary, .btn-primary {
    background: #54ba4e;
    border: 1px solid #54ba4e;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }

  a.btn-primary:visited, btn-primary:visited, a.btn-primary:focus, btn-primary:focus, a.btn-primary:active, btn-primary:active {
    background: #54ba4e !important;
    border: 1px solid #54ba4e !important;
  } 
  
  a.btn-primary:hover, .btn-primary:hover {
    background: #49ac43;
    border: 1px solid #49ac43;
    color: #fff;
    box-shadow: none;
  }
  
  a.btn-secondary, .btn-secondary {
    background: #479FC8;
    border: 1px solid #479FC8;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  a.btn-secondary:hover, .btn-secondary:hover {
    background: #3893bd;
    border: 1px solid #3893bd;
    color: #fff;
    box-shadow: none;
  }

  a.btn-bad, .btn-bad {
    background: #c84747;
    border: 1px solid #c84747;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  a.btn-bad:hover, .btn-bad:hover {
    background: #bd3838;
    border: 1px solid #bd3838;
    color: #fff;
    box-shadow: none;
  }
  
  a.btn-large {
    font-weight: 1000;
    padding: 50px;
  }

  .sections-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section .section-inner {
    background: #fff;
    padding: 30px;
  }


  .section .heading {
    margin-top: 0;
    margin-bottom: 30px;
    color: #545e69;
    font-size: 24px;
  }

  .quiz li {
    padding-bottom: 15px;
  }
  
  .section .content .question {
    font-weight: bold;
  }
  
  .section .content .code {
    background: #fffcd7;
    padding: 15px;
    margin-bottom: 15px;
    white-space: pre;
  }
  
  .section .content .code p {
    margin: 0px;
  }
  
  .tab {
    padding-left: 40px;
  }

  .info ul {
    margin-bottom: 0;
  }
  
  .info li {
    margin-bottom: 15px;
  }
  
  .info li:last-child {
    margin-bottom: 0;
  }

  .hidden {
    visibility: hidden;
    display: none;
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

  .align-center{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.scroll {
    /*background-color: #fed9ff;*/
    width: 100%;
    height: 98vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }

  @media (max-width: 767.98px) {
    .header {
      text-align: center;
    }
    .header .profile-image {
      float: none !important;
      margin: 0 auto;
    }
    .header .profile-content {
      float: none !important;
      text-align: center;
    }
    .header .btn {
      margin-top: 30px;
      float: none !important;
    }
    .project-image {
      margin-bottom: 15px;
    }    
  }
  
  @media (min-width: 1400px) {
    .container {
      width: 1360px;
      max-width: inherit;
    }
    
  }